# 日志服务数据保存到Excel
- 安装配置请参考：https://yq.aliyun.com/articles/690026

In [1]:
%reload_ext aliyun.log.ext.jupyter_magic

In [2]:
%manage_log

VBox(children=(ToggleButtons(options=('基本配置', '高级配置'), value='基本配置'), Text(value='cn-hangzhou.log.aliyuncs.com…

In [3]:
%%log -1day ~ now
* | select date_format(date_trunc('hour', __time__), '%H:%i') as dt,
        count(1)%100 as pv,
        round(sum(if(status < 400, 1, 0))*100.0/count(1), 1) AS ratio
        group by date_trunc('hour', __time__)
        order by dt limit 1000

变量名：log_df

TransientProgressBar(value=0.0)

InstancesProgress()

DFViewWidget()

       dt  pv ratio
0   00:00  28  80.2
1   01:00  78  80.2
2   02:00  94  80.2
3   03:00  44  80.3
4   04:00  56  80.3
5   05:00   0  80.2
6   06:00   0  80.2
7   07:00  58  80.3
8   08:00  42  80.2
9   09:00   0  80.2
10  10:00   0  80.1
11  11:00   0  80.2
12  12:00  58  80.2
13  13:00  42  80.1
14  14:00   0  80.1
15  15:00   0  80.2
16  15:00   0  80.3
17  16:00  89  80.2
18  17:00   9  80.2
19  18:00   7  80.2
20  19:00  95  80.1
21  20:00   0  80.2
22  21:00   3  80.1
23  22:00  97  80.2
24  23:00   0  80.3

In [4]:
data = log_df

In [5]:
data.to_excel('output.xlsx')

In [6]:
import pandas as pd
writer = pd.ExcelWriter('output2.xlsx')

In [7]:
data.to_excel(writer, sheet_name='Sheet1')
data.to_excel(writer, sheet_name='Sheet2')

In [8]:
writer.save()
writer.close()